<%- include('./partials/header.ejs')%>

    <div class = "content">
        <p class="article">
            Hello, I'm Isaac, owner of the website. This website is maintained through VSCode's LiveServer addon. <br>
            <br>
            This is actually the second iteration of this idea, and I figured I may as well flesh out a little bit from what I've done before.<br>
            <br>
            Before, this was a framework solely in CSS and HTML. It's been rebuilt from the ground up and uses 100% new code. <br>
            <br>
            I'd like to add and iterate more as time goes on and perhaps use this website as a good portfolio example after rebranding it away from gaming. <br>
            <br>
            I mainly keep it as gaming so I'll actually be interested in what I'm doing, and it helps me stay focused. If you have any questions feel free to check out my contact page!
        </p>
    </div>
    <%- include('./partials/footer.ejs')%>