<%- include('./partials/header.ejs')%>

    <div class = "content">
        <p class="article">
            I'd be glad for you to contact me at one of the options below! <br>
            <br>
            IKBND Gaming Hub Contacts<br>
            <br>
            ihall9@uncc.edu <br>
            <br>
            213-123-2222
        </p>
    </div>
    <%- include('./partials/footer.ejs')%>