<%- include('./partials/header.ejs')%>

    
    <p class="article">
        Welcome to the IKBND Gaming Hub! <br>
        <br>
        This is a website intended to help players connect and create gaming events to connect with other players! <br>
        <br>
        One of the main goals is adding new ways to connect players with other players! Check our list of available games and social hubs through the Connections tab.
    </p>

</div>    

<%- include('./partials/footer.ejs')%>