<footer class="flex">
    <div>
        © IKBND Gaming 2022
    </div>
     <ul>
        <li><a href='/partials/aboutUs'>About Us</a></li>
        <li><a href='/partials/contact'>Contact</a></li>
    </ul>    
</footer>    
</body>
</html>